body {
    margin: 0;
    font-family: getFont('main');
    font-weight: 500;
    font-size: 12px;
    background-color: getColor('main');
}
a {
    text-decoration: none;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
h1,h2,h3,h4,h5,h6,p {
    padding: 0;
    margin: 0;
}