.container {
    display: flex;
    justify-content: center;
    padding: 0 20px;
    margin-right: auto;
    margin-left: auto;
    width: 320px;
    height: 100%;
}
@media screen and (min-width:768px) {
    .container {
        padding: 0 34px;
        width: 768px;
    }
}
@media screen and (min-width: 1200px) {
    .container {
        padding: 0 46px;
        width: 1200px;
    }
}