
@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
.example {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 960px;
  padding: 16px;


}

body a {
  text-decoration: none;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}


@media screen and (min-width: 768px) {
  .invisible-tablet-desktop {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .invisible-desktop {
    display: none;
  }
}
body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  background-color: #fff;
}
body input,
body textarea {
  outline: none;

}

body input:active,
body textarea:active {
  outline: none;
}

body :focus {
  outline: none;
}

body textarea {
  resize: none;
}

body textarea {
  resize: vertical;
}

body textarea {
  resize: horizontal;
}

body form {
  z-index: 10000;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
}


.container {
  display: flex;
  justify-content: center;
  padding: 0 20px;
  margin-right: auto;
}

.menu-container__button, .hero-container__button {
  display: inline-block;
  border-radius: 22px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu-container__button:focus, .hero-container__button:focus {
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.page-header {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;

  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 320px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .page-header {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    width: 1200px;
    padding-left: 46px;
    padding-right: 46px;
  }
}
.label {
  font-size: 18px;
  line-height: 1.17x;
  text-align: center;
  text-transform: uppercase;
  color: #FFA5BA;
}
.label--margin {
  margin-bottom: 15px;
}

.products-tittle {
  font-size: 34px;
  line-height: 1.147;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
}

.products-list {
  align-items: center;
}
.products-list__item {
  border-radius: 24px;
  justify-content: center;
}
.products-list__item--ice-cream {
  background-color: #FFB8CA;
}
.products-list__item--coffee {
  background-color: #f0d1a5;
}
.products-list__item--milkshakes {
  background-color: #c2e297;
}
.products-list__tittle {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fff;
}
.products-list__tittle--margin {
  margin-bottom: 70px;
}
.products-list__describe {
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #fff;
}

.arrow {
  display: flex;
  justify-content: center;
  position: relative;
}

.products-navigation {
  cursor: pointer;
}

@media screen and (max-width: 479px) {
  .products-list__item {
    width: 220px;
    height: 485px;
  }
  .products-list__item::after {
    content: "";
    display: block;
    width: 26px;
    height: 6px;
    background-repeat: no-repeat;
    margin-right: 6px;
    transform: translate(130px, -184px);
    background-image: url("../images/products/ellipse.png");
  }
  .products-list__item--ice-cream::before {
    content: "";
    display: block;
    width: 249px;
    height: 252px;
    background-repeat: no-repeat;
    background-image: url("../images/products/mobile/ice-cream.png");
    transform: translate(20px, -113px);
  }
  .products-list__item--coffee::before {
    content: "";
    display: block;
    width: 249px;
    height: 252px;
    background-repeat: no-repeat;
    background-image: url("../images/products/mobile/coffee.png");
    transform: translate(20px, -113px);
  }
  .products-list__item--milkshakes::before {
    content: "";
    display: block;
    width: 249px;
    height: 252px;
    background-repeat: no-repeat;
    background-image: url("../images/products/mobile/milkshakes.png");
    transform: translate(20px, -113px);
  }
}
@media screen and (max-width: 767px) {
  .products--margin {
    margin-bottom: 144px;
  }

  .products-list {
    flex-wrap: nowrap;
  }
  .products-list__item {
    width: 280px;
    height: 485px;
  }
  .products-list__item::after {
    content: "";
    display: block;
    width: 26px;
    height: 6px;
    background-repeat: no-repeat;
    margin-right: 6px;
    transform: translate(140px, -194px);
    background-image: url("../images/products/ellipse.png");
  }
  .products-list__item--margin {
    margin-bottom: 129px;
  }
  .products-list__tittle--margin {
    margin-top: -91px;
  }
  .products-list__describe--margin {
    margin: 0 40px 30px 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products--margin {
    margin-bottom: 150px;
  }

  .products-list {
    display: flex;
    justify-content: space-around;
  }
  .products-list__item {
    width: 220px;
    height: 485px;
  }
  .products-list__item--ice-cream::before {
    content: "";
    display: block;
    width: 220px;
    height: 224px;
    background-repeat: no-repeat;
    background-image: url("../images/products/tablet/ice-cream.png");
    transform: translate(0px, -113px);
  }
  .products-list__item--coffee::before {
    content: "";
    display: block;
    width: 220px;
    height: 224px;
    background-repeat: no-repeat;
    background-image: url("../images/products/tablet/coffee.png");
    transform: translate(0px, -113px);
  }
  .products-list__item--milkshakes::before {
    content: "";
    display: block;
    width: 220px;
    height: 224px;
    background-repeat: no-repeat;
    background-image: url("../images/products/tablet/milkshakes.png");
    transform: translate(0px, -113px);
  }
  .products-list__tittle--margin {
    margin-top: -80px;
  }
  .products-list__describe--margin {
    margin: 0 11px 40px 11px;
  }
}
@media screen and (min-width: 1200px) {
  .products--margin {
    margin-bottom: 259px;
  }

  .products-list {
    display: flex;
    justify-content: space-around;
  }
  .products-list__item {
    width: 329px;
    height: 525px;
  }
  .products-list__item::after {
    content: "";
    display: block;
    width: 26px;
    height: 6px;
    background-repeat: no-repeat;
    margin-right: 6px;
    transform: translate(150px, -210px);
    background-image: url("../images/products/ellipse.png");
  }
  .products-list__item--ice-cream::before {
    content: "";
    display: block;
    width: 335px;
    height: 335px;
    background-repeat: no-repeat;
    background-image: url("../images/products/desktop/ice-cream.png");
    transform: translate(0px, -210px);
  }
  .products-list__item--coffee::before {
    content: "";
    display: block;
    width: 335px;
    height: 335px;
    background-repeat: no-repeat;
    background-image: url("../images/products/desktop/coffee.png");
    transform: translate(0px, -210px);
  }
  .products-list__item--milkshakes::before {
    content: "";
    display: block;
    width: 335px;
    height: 335px;
    background-repeat: no-repeat;
    background-image: url("../images/products/desktop/milkshakes.png");
    transform: translate(0px, -210px);
  }
  .products-list__tittle--margin {
    margin-top: -188px;
  }
  .products-list__describe--margin {
    margin: 70px 44px 60px 44px;
  }
}
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.16);
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden {
  transition: all 500ms linear 500ms;
}

.describe {
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  background-color: #ffffff;
  padding: 15px;
}

.close-btn {
  display: block;
  margin-left: 98%;
  margin-right: 20px;
  width: 12px;
  height: 12px;
  border: 0px;
  background-color: #ffffff;
  cursor: pointer;
}
.close-btn:hover, .close-btn:focus {
  fill: #D41443;
}

.menu-container__button {
  height: 44px;
  width: 209px;
  margin-top: 60px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: #D41443;
  background-color: #fff;
  border: 1px solid #fff;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.menu-container__button:hover, .menu-container__button:focus {
  background-color: #D41443;
  color: #fff;
}
.comments__view {
  display: flex;
  overflow: hidden;
  width: 280px;
}
.comments__card-home, .comments__card-second, .comments__card-third {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comments__image {
  margin-bottom: 29px;
}
.comments__sheet {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-width: 280px;
  padding-bottom: 20px;
  padding-top: 43px;
  margin-bottom: 30px;
  background-color: #FAFAFA;
  z-index: -2;
}
.comments__sheet-icon {
  position: absolute;
  left: 61px;
  top: 28px;
  fill: #E1E1E1;
  z-index: -1;
}
.comments__line {
  width: 180px;
  height: 0px;
  border: 1px solid #E1E1E1;
  margin-top: 28px;
}
.comments__content {
  display: block;
  line-height: 255%;
  color: #000000;
  width: 157px;
  height: 239px;
  text-align: center;
  position: absolute;
  top: 19px;
  right: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 100000000;
}
.comments__author {
  font-size: 14px;
  line-height: 186%;
  margin-bottom: 30px;
  margin-top: 18px;
}
.comments__dots-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: -10px;
}
.comments__dot {
  width: 4px;
  height: 4px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: #C7133E;
}
.comments__navigation {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  margin-right: -18px;
  padding: 0;
}
.comments__post-item {
  display: block;
}
.comments__post-link {
  display: inline-block;
  transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.comments__post-link--bg-styles {
  background-color: #D9D9D9;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.comments__post-link--bg-styles:hover {
  background-color: #D31342;
  fill: #D31342;
}
.comments__post-link--bg-red {
  background-color: #D31342;
}
.comments__navigation-icon {
  fill: #D31342;
}
.comments__navigation-icon--bg-styles {
  fill: #D9D9D9;
  transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.comments__navigation-icon--bg-styles:hover {
  fill: #D31342;
}

@media screen and (min-width: 768px) {
  .menu-button {
    top: 52px;
    right: 224px;
  }
}
@media screen and (min-width: 1200px) {
  .comments {
    margin-bottom: 234px;
  }
  .comments__view {
    width: 926px;
  }
  .comments__image {
    margin-bottom: 15px;
  }
  .comments__sheet {
    min-width: 926px;
    padding-bottom: 39px;
    margin-bottom: 15px;
  }
  .comments__sheet-icon {
    left: 50px;
    top: 32px;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .site-nav {
    height: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.placement {
  background-color: #FFF5F6;
  position: relative;
  height: 1502px;
}
.placement__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -20px;
  position: absolute;
  top: -84px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}
.placement__item {
  padding: 43px 21px 43px 20px;
  background-color: #fff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  max-width: 220px;
  margin-top: 20px;
}
.placement__place {
  margin-bottom: 25px;
  border-bottom: 1px solid #E1E1E1;
}
.placement__cafe {
  width: 80px;
  height: 16px;
  background: #F0D1A5;
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  justify-content: center;
  margin-bottom: 25px;
  font-size: 12px;
  line-height: 186%;
  font-weight: normal;
}
.placement__foodtruck {
  width: 130px;
  height: 16px;
  background-color: #C2E297;
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  justify-content: center;
  font-size: 12px;
  line-height: 186%;
  font-weight: normal;
  margin-bottom: 25px;
}
.placement__days, .placement__city {
  color: #000000;
  line-height: 186%;
  letter-spacing: 0.04em;
  height: 22px;
}
.placement__description {
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #907E82;
  width: 179px;
  max-height: 36px;
  margin-bottom: 25px;
  margin-top: 10px;
}
.placement__schedule {
  padding-bottom: 15px;
  margin-bottom: 25px;
  border-bottom: 1px solid #E1E1E1;
}
.placement__hours {
  color: #FFA5BA;
  margin-bottom: 10px;
  height: 22px;
  line-height: 186%;
  letter-spacing: 0.04em;
}
.placement__phone-mail {
  height: 37px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.placement__link {
  color: #907E82;
  line-height: 1.5;
}
.placement__button-list {
  position: absolute;
  bottom: 113px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}
.placement__button-locations {
  width: 161px;
  height: 44px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.313;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #D41342;
  color: #fff;
}
.placement__button-franchise {
  width: 161px;
  height: 44px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.313;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #fff;
  color: #D41443;
  border-radius: 22px;
  border: none;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.placement__button-franchise:hover {
  background-color: #ECEBEB;
}

.hero-container__title--accent {
  font-size: 48px;
  line-height: 0.905;
  color: #D41443;
}

@media screen and (min-width: 768px) {
  .placement {
    height: 756px;
  }
  .placement__list {
    flex-direction: row;
    justify-content: space-between;
    top: -78px;
    width: 700px;
  }
  .placement__item {
    padding: 50px 32px 50px 31px;
    width: 220px;
  }
  .placement__place {
    margin-bottom: 30px;
  }
  .placement__cafe {
    width: 73px;
    height: 28px;
    margin-bottom: 30px;
    font-size: 16px;
  }
  .placement__foodtruck {
    width: 138px;
    height: 28px;
    font-size: 16px;
    margin-bottom: 30px;
  }
  .placement__days, .placement__city {
    color: #000000;
    font-size: 14px;
  }
  .placement__description {
    font-size: 14px;
    line-height: 166%;
    width: 157px;
    max-height: 65px;
    margin-bottom: 30px;
    margin-top: 14px;
  }
  .placement__schedule {
    padding-bottom: 20px;
    margin-bottom: 30px;
  }
  .placement__hours {
    margin-bottom: 16px;
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-container__title--accent {
    font-size: 58px;
  }
}

.hero-container__button {
  font-size: 8px;
  line-height: 1.25;
  padding: 7px 15px;
  z-index: 10;
  color: #D41443;
  background-color: #fff;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hero-container__button:hover, .hero-container__button:focus {
  background-color: #D41443;
  color: #fff;
}

@media screen and (min-width: 1200px) {
  .hero-container__button {
    font-size: 14px;
    padding: 13px 24px;
  }
  .placement__button-list {
    position: absolute;
    bottom: 165px;
    display: flex;
  }
  .placement__button-locations {
    margin-right: 14.5px;
    line-height: 1.313;
  }
  .placement__button-franchise {
    line-height: 1.313;
  }
}
@media screen and (min-width: 1200px) {
  .placement {
    background-image: url(../images/placement/placement-bg.png);
    background-size: contain;
  }
}

@media screen and (min-width: 1200px) {
  .hero-container__bg {
    left: 548px;
    top: 21px;
    width: 236px;
    height: 557px;
  }
}

.hero-container__svg {
  position: absolute;
  top: 22px;
  left: 36px;
  width: 346px;
  height: 344px;
  z-index: -2;
  background-image: url("../images/hero-svg/ellipse.svg");
}

@media screen and (min-width: 768px) {
  .hero-container__svg {
    top: -58px;
    left: 273px;
    width: 324px;
    height: 322px;
    background-image: url("../images/hero-svg/ellipse-tablet.svg");
  }
}

@media screen and (min-width: 1200px) {
  .hero-container__svg {
    left: 429px;
    top: -40px;
    width: 538px;
    height: 538px;
    background-size: cover;
  }
}
.footer {
  background-color: #FFF5F6;
}
.footer__block {
  display: block;
}
.footer__homemade {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.167;
  text-transform: uppercase;
  color: #FFA5BA;
  margin-bottom: 17px;
  width: 232px;
  height: 42px;
}
.footer__passion {
  font-family: "Titan One", sans-serif;
  font-weight: normal;
  font-size: 34px;
  line-height: 1.147;
  text-transform: uppercase;
  color: #D41443;
  width: 200px;
  height: 76px;
  margin-bottom: 43px;
}
.footer__social-list {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 46px;
}
.footer__social-item {
  display: flex;
  justify-content: flex-end;
  margin-left: 28.24px;
}
.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #FFA5BA;
  transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.footer__social-link:hover {
  background-color: #D41443;
}
.footer__contact {
  font-weight: bold;
  text-align: right;
  margin-bottom: 43px;
}
.footer__phone {
  color: #D41443;
}
.footer__bottom {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 22px 0 25px;
  border-top: 1px solid #E1E1E1;
}
.footer__copyright {
  font-weight: bold;
  font-size: 14px;
  line-height: 152%;
  color: #907E82;
  width: 149px;
  height: 42px;
  text-align: center;
}

.hero-container__description-text {
  font-size: 7px;
  line-height: 1.5;
  color: #fff;
  max-width: 114px;
  margin-left: -2px;
  margin-top: 36px;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .footer__block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 91px;
  }
  .footer__homemade {
    font-size: 26px;
    line-height: 1.154;
    margin-bottom: 16px;
    width: 340px;
    height: 57px;
  }
  .footer__passion {
    font-size: 48px;
    line-height: 1.146;
    letter-spacing: 0.06em;
    width: 340px;
    height: 110px;
    margin-bottom: 0;
  }
  .footer__social-list {
    margin-bottom: 50px;
  }
  .footer__social-item {
    margin-left: 30px;
  }
  .footer__contact {
    font-size: 14px;
    line-height: 1.4;
    margin-left: 30px;
    max-width: 200px;
    margin-top: 54px;
  }
}

.hero-container__description-svg {
  width: 18px;
  height: 18px;
  margin-top: 7px;
  background-image: url("../images/hero-svg/arrow-right.svg");
}

@media screen and (min-width: 1200px) {
  .hero-container__description-svg {
    width: 26px;
    height: 26px;
    background-size: cover;
    margin-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__block {
    justify-content: center;
    margin-bottom: 97px;
  }
  .footer__homemade {
    font-size: 30px;
    line-height: 1.133;
    margin-bottom: 15px;
    margin-left: 20px;
    width: 72px;
    height: 77px;
  }
}

@media screen and (min-width: 1200px) {
  .number-image__element_2 {
    width: 92px;
    height: 76px;
  }
}/*# sourceMappingURL=main.css.map */