@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 960px;
  padding: 16px;
}

body a {
  text-decoration: none;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .invisible-tablet-desktop {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .invisible-desktop {
    display: none;
  }
}

body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  background-color: #fff;
}

body input:active,
body textarea:active {
  outline: none;
}

body :focus {
  outline: none;
}

body textarea {
  resize: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu-container__button:focus, .hero-container__button:focus {
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.page-header {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 320px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .page-header {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header {
    width: 1200px;
    padding-left: 46px;
    padding-right: 46px;
  }
}

.container {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.xxx {
  font-size: 18px;
  line-height: 1.17x;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
}

.xxx--margin {
  margin-bottom: 15px;
}

.products-tittle {
  font-size: 34px;
  line-height: 1.147;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

.products-list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-list__item {
  border-radius: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.products-list__item--color-ice-cream {
  background-color: #ffb8ca;
}

.products-list__item--color-coffee {
  background-color: #f0d1a5;
}

.products-list__item--color-milkshakes {
  background-color: #c2e297;
}

.products-list__tittle {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

.products-list__tittle--margin {
  margin-bottom: 30px;
}

.products-list__describe {
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.products-list__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ellipse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ellipse--margin {
  margin-bottom: 30px;
}

.ellipse-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 26px;
}

.ellipse-list__item {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ffffff;
}

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products-navigation {
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .products--margin {
    margin-bottom: 144px;
  }
  .products-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .products-list__item {
    width: 280px;
    height: 485px;
  }
  .products-list__item--margin {
    margin-bottom: 129px;
  }
  .products-list__img {
    -webkit-transform: translateY(-113px);
            transform: translateY(-113px);
    width: 280px;
  }
  .products-list__tittle--margin {
    margin-top: -91px;
  }
  .products-list__describe--margin {
    margin: 0 40px 30px 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products--margin {
    margin-bottom: 150px;
  }
  .products-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .products-list__item {
    width: 220px;
    height: 485px;
  }
  .products-list__img {
    -webkit-transform: translateY(-102px);
            transform: translateY(-102px);
  }
  .products-list__tittle--margin {
    margin-top: -80px;
  }
  .products-list__describe--margin {
    margin: 0 11px 40px 11px;
  }
}

@media screen and (min-width: 1200px) {
  .products--margin {
    margin-bottom: 259px;
  }
  .products-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .products-list__item {
    width: 329px;
    height: 525px;
  }
  .products-list__img {
    -webkit-transform: translateY(-210px);
            transform: translateY(-210px);
  }
  .products-list__tittle--margin {
    margin-top: -188px;
  }
  .products-list__describe--margin {
    margin: 0 44px 60px 44px;
  }
}

@media screen and (max-width: 767px) {
  .how-its-made {
    background-image: url(../images/how-its-made/mobile/background_milk.png);
    background-position-y: 49.1%;
    background-position-x: center;
    background-repeat: no-repeat;
    padding-top: 125px;
    padding-bottom: 145px;
    margin: 0 auto;
    background-color: #fff5f6;
    position: relative;
    margin-bottom: 154px;
  }
  .how-its-made__title-first {
    margin: 0;
    margin-bottom: 15px;
    font-family: 'Titan One', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;
    color: #ffa5ba;
  }
  .how-its-made__title-second {
    margin: 0;
    margin-bottom: 26px;
    font-family: 'Titan One', sans-serif;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
  }
  .how-its-made__btn {
    display: inline-block;
    margin-bottom: 39px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 37px;
    padding-left: 37px;
    min-width: 176px;
    background: #fff;
    border-radius: 22px;
    border: 0;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
    color: #d41443;
  }
  .how-its-made__btn:hover, .how-its-made__btn:focus {
    background-color: #ecebeb;
  }
  .how-its-made__main-image {
    width: 280px;
    height: 279px;
  }
  .how-its-made__text-first {
    margin: 0;
    margin-bottom: 32px;
    width: 220px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.58;
    color: #000000;
  }
  .how-its-made__text-second {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.58;
    color: #907e82;
    width: 220px;
  }
  .how-its-made__pic {
    margin-top: 20px;
    margin-bottom: 21px;
  }
  .how-its-made__milk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .how-its-made__number {
    margin: 0;
    margin-bottom: 21px;
    font-family: 'Titan One', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
  }
  .how-its-made__text {
    margin: 0;
    width: 230px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.67;
    color: #000000;
  }
  .how-its-made__item-pic {
    margin-bottom: 16px;
  }
  .how-its-made__cards {
    padding-top: 0;
    padding-bottom: 0;
  }
  .how-its-made__cards:not(:last-child) {
    margin-bottom: 38px;
  }
  .how-its-made__gallery {
    background-image: url(../images/how-its-made/mobile/him-images-364.png), -webkit-gradient(linear, left top, left bottom, color-stop(50%, #FFF5F6), color-stop(50%, #fff));
    background-image: url(../images/how-its-made/mobile/him-images-364.png), linear-gradient(to bottom, #FFF5F6 50%, #fff 50%);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 122px;
    width: 320px;
    display: block;
    position: absolute;
    bottom: -61px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .how-its-made__gallery {
    background-image: url(../images/how-its-made/mobile/him-images-728@2x.png), -webkit-gradient(linear, left top, left bottom, color-stop(50%, #FFF5F6), color-stop(50%, #fff));
    background-image: url(../images/how-its-made/mobile/him-images-728@2x.png), linear-gradient(to bottom, #FFF5F6 50%, #fff 50%);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .how-its-made {
    padding-top: 130px;
    padding-bottom: 246px;
    background-color: #fff5f6;
    margin-bottom: 279px;
    position: relative;
  }
  .how-its-made__main-image {
    width: 340px;
    height: 339px;
  }
  .how-its-made__title-first {
    margin: 0;
    margin-bottom: 16px;
    font-family: 'Titan One', sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    text-align: center;
    text-transform: uppercase;
    color: #ffa5ba;
  }
  .how-its-made__title-second {
    margin: 0;
    margin-bottom: 50px;
    font-family: 'Titan One', sans-serif;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
  }
  .how-its-made__btn {
    display: inline-block;
    margin-bottom: 66px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 37px;
    padding-left: 37px;
    min-width: 176px;
    background: #ffffff;
    border-radius: 22px;
    border: 0;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.28;
    color: #d41443;
  }
  .how-its-made__btn:hover, .how-its-made__btn:focus {
    background-color: #ecebeb;
  }
  .how-its-made__text-first {
    margin: 0;
    margin-bottom: 31px;
    width: 330px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.78;
    color: #000000;
  }
  .how-its-made__text-second {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.78;
    letter-spacing: 0.04em;
    color: #907e82;
    width: 340px;
  }
  .how-its-made__how {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .how-its-made__milk {
    margin: 0;
    margin-top: 50px;
  }
  .how-its-made__title-image {
    margin: 0;
    margin-right: 17px;
  }
  .how-its-made__pic {
    margin-top: 18px;
    margin-bottom: 61px;
  }
  .how-its-made__number {
    margin: 0;
    margin-bottom: 13px;
    font-family: 'Titan One', sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
  }
  .how-its-made__text {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.71;
    color: #000000;
  }
  .how-its-made__item-pic {
    margin-bottom: 36px;
  }
  .how-its-made__card-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .how-its-made__cards:not(:last-child) {
    margin-right: 60px;
  }
  .how-its-made__gallery {
    background-image: url(../images/how-its-made/tablet/him-images-786.png), -webkit-gradient(linear, left top, left bottom, color-stop(50%, #FFF5F6), color-stop(50%, #fff));
    background-image: url(../images/how-its-made/tablet/him-images-786.png), linear-gradient(to bottom, #FFF5F6 50%, #fff 50%);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 264px;
    width: 786px;
    display: block;
    position: absolute;
    bottom: -158px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .how-its-made__gallery {
    background-image: url(../images/how-its-made/tablet/him-images-1572@2x.png), -webkit-gradient(linear, left top, left bottom, color-stop(50%, #FFF5F6), color-stop(50%, #fff));
    background-image: url(../images/how-its-made/tablet/him-images-1572@2x.png), linear-gradient(to bottom, #FFF5F6 50%, #fff 50%);
  }
}

@media screen and (min-width: 1200px) {
  .how-its-made {
    background-image: url(../images/how-its-made/desktop/background_milk.png);
    background-repeat: no-repeat;
    background-position-y: 50.1%;
    background-position-x: center;
    background-size: 100%;
    padding-top: 125px;
    padding-bottom: 310px;
    background-color: #fff5f6;
    position: relative;
    margin-bottom: 382px;
  }
  .how-its-made__main-image {
    width: 516px;
    height: 516px;
  }
  .how-its-made__title-first {
    margin: 0;
    margin-bottom: 15px;
    font-family: 'Titan One', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.13;
    text-align: center;
    text-transform: uppercase;
    color: #ffa5ba;
  }
  .how-its-made__title-second {
    margin: 0;
    margin-bottom: 100px;
    font-family: 'Titan One', sans-serif;
    font-weight: 400;
    font-size: 58px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
  }
  .how-its-made__btn {
    display: inline-block;
    margin-bottom: 146px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 37px;
    padding-left: 37px;
    min-width: 176px;
    background: #ffffff;
    border-radius: 22px;
    border: 0;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.28;
    text-align: center;
    color: #d41443;
  }
  .how-its-made__btn:hover, .how-its-made__btn:focus {
    background-color: #ecebeb;
  }
  .how-its-made__text-first {
    margin: 0;
    margin-bottom: 35px;
    width: 463px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.04em;
    color: #000000;
  }
  .how-its-made__text-second {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.78;
    letter-spacing: 0.04em;
    color: #907e82;
    width: 463px;
  }
  .how-its-made__how {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .how-its-made__milk {
    margin: 0;
    margin-top: 50px;
  }
  .how-its-made__title-image {
    margin: 0;
    margin-right: 74px;
  }
  .how-its-made__pic {
    margin-top: 37px;
    margin-bottom: 45px;
  }
  .how-its-made__number {
    margin: 0;
    margin-bottom: 24px;
    font-family: 'Titan One', sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
  }
  .how-its-made__text {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.02em;
    color: #000000;
  }
  .how-its-made__item-pic {
    margin-bottom: 40px;
  }
  .how-its-made__card-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .how-its-made__cards:not(:last-child) {
    margin-right: 30px;
  }
  .how-its-made__gallery {
    background-image: url(../images/how-its-made/desktop/him-images-1280.png), -webkit-gradient(linear, left top, left bottom, color-stop(50%, #FFF5F6), color-stop(50%, #fff));
    background-image: url(../images/how-its-made/desktop/him-images-1280.png), linear-gradient(to bottom, #FFF5F6 50%, #fff 50%);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 430px;
    width: 1200px;
    display: block;
    position: absolute;
    bottom: -259px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .how-its-made__gallery {
    background-image: url(../images/how-its-made/desktop/him-images-2560@2x.png), -webkit-gradient(linear, left top, left bottom, color-stop(50%, #FFF5F6), color-stop(50%, #fff));
    background-image: url(../images/how-its-made/desktop/him-images-2560@2x.png), linear-gradient(to bottom, #FFF5F6 50%, #fff 50%);
  }
}

.comments {
  margin-bottom: 170px;
}

@media screen and (min-width: 1200px) {
  .menu-container__button {
    display: none;
  }
}

.menu-container__button--accessory {
  margin-left: 21px;
  stroke: #D41443;
  -webkit-transition-property: stroke;
  transition-property: stroke;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu-container__button--accessory:hover, .menu-container__button--accessory:focus {
  stroke: #fff;
}

@media screen and (max-width: calc(768px - 1px)) {
  .menu-container__button.tablet-desktop {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu-container__button.tablet-desktop {
    position: absolute;
    display: inline-block;
    width: 160px;
    z-index: 1;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu-container__button.tablet-desktop {
    right: 34px;
    top: -20px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-container__button.tablet-desktop {
    position: relative;
    margin-left: 110px;
    margin-top: 0px;
  }
}

.menu-button {
  position: absolute;
  top: 19px;
  right: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 100000000;
}

.menu-button:hover {
  fill: #D41443;
}

@media screen and (min-width: 768px) {
  .menu-button {
    top: 52px;
    right: 224px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.hero-container__button {
  font-size: 8px;
  line-height: 1.25;
  padding: 7px 15px;
  z-index: 10;
  color: #D41443;
  background-color: #fff;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hero-container__button:hover, .hero-container__button:focus {
  background-color: #D41443;
  color: #fff;
}

@media screen and (min-width: 1200px) {
  .hero-container__button {
    font-size: 14px;
    padding: 13px 24px;
  }
}

.page-header {
  padding-top: 6px;
  background-color: #FFB8CA;
  z-index: 100000000;
}

@media screen and (min-width: 768px) {
  .page-header {
    padding-top: 36px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header {
    height: 665px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__logo {
    margin-right: 110px;
  }
}

.menu-button {
  position: absolute;
  top: 19px;
  right: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 100000000;
}

.menu-button:hover {
  fill: #D41443;
}

@media screen and (min-width: 768px) {
  .menu-button {
    top: 52px;
    right: 224px;
  }
}

@media screen and (min-width: 1200px) {
  .comments {
    margin-bottom: 234px;
  }
  .comments__view {
    width: 926px;
  }
  .comments__image {
    margin-bottom: 15px;
  }
  .comments__sheet {
    min-width: 926px;
    padding-bottom: 39px;
    margin-bottom: 15px;
  }
  .comments__sheet-icon {
    left: 50px;
    top: 32px;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .site-nav {
    height: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: calc(1200px - 1px)) {
  .menu-container {
    display: block;
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(225, 121, 146, 0.6);
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
            transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 1000000;
  }
  .menu-button.is-open ~ .menu-container {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .menu-container__animation {
    width: 250px;
    height: 100vh;
    background-color: #E17992;
    z-index: 100;
    -webkit-transition: opacity 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
    transition: opacity 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
  }
}

.menu-container__pages {
  margin-top: 32px;
  text-align: left;
}

@media screen and (min-width: 1200px) {
  .menu-container__pages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    z-index: 5;
  }
}

.menu-container__element {
  border: 1px solid #E18298;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 21px;
}

@media screen and (min-width: 1200px) {
  .menu-container__element {
    border: none;
    padding: 0;
    z-index: 100;
  }
  .menu-container__element:not(:last-child) {
    margin-right: 35px;
  }
}

.menu-container__link {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu-container__link:hover, .menu-container__link:focus {
  color: #D41443;
}

.menu-button ~ .menu-container .menu-container__animation {
  opacity: 0;
}

@media screen and (min-width: 1200px) {
  .menu-button ~ .menu-container .menu-container__animation {
    opacity: 1;
  }
}

.menu-button.is-open ~ .menu-container .menu-container__animation {
  opacity: 1;
}

.hero-container {
  position: relative;
  background-color: #FFB8CA;
  padding-top: 137px;
  padding-bottom: 160px;
  text-align: left;
  z-index: 0;
}

@media screen and (min-width: 768px) {
  .hero-container {
    padding-top: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-container {
    padding-top: 84px;
    padding-bottom: 281px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-container__naming {
    margin-left: 69px;
  }
}

.hero-container__title {
  max-width: 218px;
  margin-bottom: 19px;
  font-family: "Titan One";
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .hero-container__title {
    max-width: 160px;
    font-size: 22px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-container__title {
    font-size: 38px;
    max-width: 277px;
    margin-bottom: 25px;
  }
}

.hero-container__title--accent {
  font-size: 48px;
  line-height: 0.905;
  color: #D41443;
}

@media screen and (min-width: 768px) {
  .hero-container__title--accent {
    font-size: 34px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-container__title--accent {
    font-size: 58px;
  }
}

.hero-container__button {
  font-size: 8px;
  line-height: 1.25;
  padding: 7px 15px;
  z-index: 10;
  color: #D41443;
  background-color: #fff;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hero-container__button:hover, .hero-container__button:focus {
  background-color: #D41443;
  color: #fff;
}

@media screen and (min-width: 1200px) {
  .hero-container__button {
    font-size: 14px;
    padding: 13px 24px;
  }
}

.hero-container__bg {
  position: absolute;
  top: 34px;
  left: 117px;
  width: 171px;
  height: 410px;
  background-image: url("../images/ice-cream/ice-cream.png");
  z-index: -1;
  background-size: contain;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-container__bg {
    background-image: url("../images/ice-cream/ice-cream2x.png");
  }
}

@media screen and (min-width: 768px) {
  .hero-container__bg {
    top: -25px;
    left: 344px;
    width: 143px;
    height: 336px;
    background-size: contain;
  }
}

@media screen and (min-width: 1200px) {
  .hero-container__bg {
    left: 548px;
    top: 21px;
    width: 236px;
    height: 557px;
  }
}

.hero-container__svg {
  position: absolute;
  top: 22px;
  left: 36px;
  width: 346px;
  height: 344px;
  z-index: -2;
  background-image: url("../images/hero-svg/ellipse.svg");
}

@media screen and (min-width: 768px) {
  .hero-container__svg {
    top: -58px;
    left: 273px;
    width: 324px;
    height: 322px;
    background-image: url("../images/hero-svg/ellipse-tablet.svg");
  }
}

@media screen and (min-width: 1200px) {
  .hero-container__svg {
    left: 429px;
    top: -40px;
    width: 538px;
    height: 538px;
    background-size: cover;
  }
}

@media screen and (max-width: calc(768px - 1px)) {
  .hero-container__number-images {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hero-container__number-images {
    position: absolute;
    right: 0px;
    top: 4px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-container__number-images {
    top: 66px;
    right: 51px;
  }
}

@media screen and (max-width: calc(768px - 1px)) {
  .hero-container__lady-picture {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hero-container__lady-picture {
    position: absolute;
    right: 0px;
    bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-container__lady-picture {
    width: 293px;
    height: 232px;
  }
}

.hero-container__description {
  position: absolute;
  left: 0px;
  bottom: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: calc(768px - 1px)) {
  .hero-container__description {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .hero-container__description {
    left: 31px;
    bottom: 45px;
  }
}

.hero-container__description-picture {
  width: 124px;
  height: 126px;
}

@media screen and (min-width: 1200px) {
  .hero-container__description-picture {
    width: 188px;
    height: 191px;
  }
}

.hero-container__description-text {
  font-size: 7px;
  line-height: 1.5;
  color: #fff;
  max-width: 114px;
  margin-left: -2px;
  margin-top: 36px;
  text-align: left;
}

@media screen and (min-width: 1200px) {
  .hero-container__description-text {
    font-size: 14px;
    line-height: 1.4;
    margin-left: 30px;
    max-width: 200px;
    margin-top: 54px;
  }
}

.hero-container__description-svg {
  width: 18px;
  height: 18px;
  margin-top: 7px;
  background-image: url("../images/hero-svg/arrow-right.svg");
}

@media screen and (min-width: 1200px) {
  .hero-container__description-svg {
    width: 26px;
    height: 26px;
    background-size: cover;
    margin-top: 20px;
  }
}

.number-image__element_1 {
  margin-bottom: 13px;
  margin-left: 8px;
}

@media screen and (min-width: 1200px) {
  .number-image__element_1 {
    margin-bottom: 15px;
    margin-left: 20px;
    width: 72px;
    height: 77px;
  }
}

@media screen and (min-width: 1200px) {
  .number-image__element_2 {
    width: 92px;
    height: 76px;
  }
}
/*# sourceMappingURL=main.css.map */