.example {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #009688;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/demo.jpg");
  background-size: cover;
  background-position: center;
}

.form__submit, .hero-container__button-2, .hero-container__button, .menu-container__button {
  display: inline-block;
  border-radius: 22px;
  text-align: center;
  justify-content: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.form__submit:focus, .hero-container__button-2:focus, .hero-container__button:focus, .menu-container__button:focus {
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.page-header {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 320px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .page-header {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    width: 1200px;
    padding-left: 46px;
    padding-right: 46px;
  }
}

@media screen and (min-width: 768px) {
  .invisible-tablet-desktop {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .invisible-desktop {
    display: none;
  }
}
input,
textarea {
  outline: none;
}

input:active,
textarea:active {
  outline: none;
}

:focus {
  outline: none;
}

textarea {
  resize: none;
}

textarea {
  resize: vertical;
}

textarea {
  resize: horizontal;
}

form {
  z-index: 10000;
}

.menu-container__button {
  height: 44px;
  width: 209px;
  margin-top: 60px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: #D41443;
  background-color: #fff;
  border: 1px solid #fff;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.menu-container__button:hover, .menu-container__button:focus {
  background-color: #ECEBEB;
  color: #D41443;
}
.menu-container__button--accessory {
  margin-left: 21px;
}
@media screen and (min-width: 768px) {
  .menu-button ~ .menu-container .menu-container__button {
    display: inline-block;
    width: 160px;
    z-index: 1;
  }
}
@media screen and (min-width: 1200px) {
  .menu-button ~ .menu-container .menu-container__button {
    margin-left: 110px;
    margin-top: 0px;
  }
}
.menu-container__button.tablet {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu-container__button.tablet {
    position: absolute;
    right: 34px;
    top: -20px;
    display: inline-block;
    height: 44px;
    width: 209px;
    margin-top: 60px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    color: #D41443;
    background-color: #fff;
    border: 1px solid #fff;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    width: 160px;
    z-index: 1;
  }
}
.menu-container__button.tablet:hover, .menu-container__button.tablet:focus {
  background-color: #ECEBEB;
  color: #D41443;
}

.menu-button {
  position: absolute;
  top: 19px;
  right: 20px;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 10000000;
}
.menu-button:hover {
  fill: #D41443;
}
@media screen and (min-width: 768px) {
  .menu-button {
    top: 52px;
    right: 224px;
  }
}
@media screen and (min-width: 1200px) {
  .menu-button {
    display: none;
  }
}
.menu-button .icon-cross {
  display: none;
}
.menu-button.is-open .icon-cross {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}

.hero-container__button {
  font-size: 8px;
  line-height: 1.25;
  padding: 7px 15px;
  z-index: 10;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  color: #fff;
  background-color: #D41443;
}
.hero-container__button:hover, .hero-container__button:focus {
  color: #fff;
  background-color: #C7133E;
}
@media screen and (min-width: 1200px) {
  .hero-container__button {
    font-size: 14px;
    padding: 13px 24px;
  }
}
.hero-container__button-2 {
  font-size: 8px;
  line-height: 1.25;
  padding: 7px 15px;
  z-index: 10;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  color: #D41443;
  background-color: #fff;
}
.hero-container__button-2:hover, .hero-container__button-2:focus {
  color: #D41443;
  background-color: #ECEBEB;
}
@media screen and (min-width: 1200px) {
  .hero-container__button-2 {
    font-size: 14px;
    padding: 13px 24px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  opacity: 1;
  background-color: rgba(255, 184, 202, 0.7);
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 1000;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .form {
  transform: translate(-50%, -50%) scale(0.7);
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 609px;
  padding: 40px;
  padding: 20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #E17992;
  transform: translate(-50%, -50%) scale(1.1);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
@media screen and (min-width: 768px) {
  .form {
    max-width: 500px;
  }
}
.form__close-button {
  position: absolute;
  top: 14px;
  right: 14px;
  border: none;
  background: none;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.form__close-button:hover, .form__close-button:focus {
  cursor: pointer;
}
.form__title {
  margin-bottom: 12px;
  line-height: 1.5;
  color: #fff;
}
@media screen and (min-width: 320px) {
  .form__title {
    font-size: 15px;
  }
}
@media screen and (min-width: 768px) {
  .form__title {
    line-height: inherit;
    font-size: 20px;
  }
}
.form__field {
  position: relative;
  display: block;
  text-align: left;
  height: 58px;
  margin-bottom: 10px;
}
.form__input {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.form__input:focus {
  border: 2px solid #D41443;
}
.form__label {
  position: absolute;
  left: 0px;
  bottom: 10px;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #E17992;
  transform: translateX(30px);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.form__input:focus ~ .form__label {
  color: #D41443;
  transform: translate(0px, -30px);
}
.form__submit {
  width: 100%;
  max-width: 250px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #D41443;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.form__submit:hover, .form__submit:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transform: translate(1px, 1px);
}

/* Comment */
.comment {
  position: relative;
  display: block;
  margin-bottom: 20px;
}
.comment__label {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #D41443;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.comment__input:focus + .comment__label {
  color: #E17992;
}
.comment__input {
  width: 100%;
  max-height: 120px;
  margin-top: 18px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
@media screen and (max-width: 340px) {
  .comment__input {
    max-height: 80px;
  }
}
.comment__input:focus {
  border: 1px solid #D41443;
}

.page-header {
  padding-top: 6px;
  background-color: #FFB8CA;
  z-index: 100000000;
}
@media screen and (min-width: 768px) {
  .page-header {
    padding-top: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    height: 665px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__logo {
    margin-right: 110px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .site-nav {
    height: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav {
    display: flex;
    align-items: center;
  }
}

.hero-container {
  position: relative;
  background-color: #FFB8CA;
  padding-top: 137px;
  padding-bottom: 160px;
  text-align: left;
  z-index: 0;
}
@media screen and (min-width: 768px) {
  .hero-container {
    padding-top: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-container {
    padding-top: 84px;
    padding-bottom: 281px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-container__naming {
    margin-left: 69px;
  }
}
.hero-container__title {
  max-width: 218px;
  margin-bottom: 19px;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .hero-container__title {
    max-width: 160px;
    font-size: 22px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-container__title {
    font-size: 38px;
    max-width: 277px;
    margin-bottom: 25px;
  }
}
.hero-container__title--accent {
  font-size: 48px;
  line-height: 0.905;
  color: #D41443;
}
@media screen and (min-width: 768px) {
  .hero-container__title--accent {
    font-size: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-container__title--accent {
    font-size: 58px;
  }
}
.hero-container__bg {
  position: absolute;
  top: 34px;
  left: 117px;
  width: 171px;
  height: 410px;
  background-image: url("../images/ice-cream/ice-cream-picture.png");
  z-index: -1;
  background-size: contain;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-container__bg {
    background-image: url("../images/ice-cream/ice-cream-picture2x.png");
  }
}
@media screen and (min-width: 768px) {
  .hero-container__bg {
    top: -25px;
    left: 344px;
    width: 143px;
    height: 336px;
    background-size: contain;
  }
}
@media screen and (min-width: 1200px) {
  .hero-container__bg {
    left: 548px;
    top: 21px;
    width: 236px;
    height: 557px;
  }
}
.hero-container__svg {
  position: absolute;
  top: 22px;
  left: 36px;
  width: 346px;
  height: 344px;
  z-index: -2;
  background-image: url("../images/hero-svg/ellipse.svg");
}
@media screen and (min-width: 768px) {
  .hero-container__svg {
    top: -58px;
    left: 273px;
    width: 324px;
    height: 322px;
    background-image: url("../images/hero-svg/ellipse-tablet.svg");
  }
}
@media screen and (min-width: 1200px) {
  .hero-container__svg {
    left: 429px;
    top: -40px;
    width: 538px;
    height: 538px;
    background-size: cover;
  }
}
@media screen and (max-width: calc(768px - 1px)) {
  .hero-container__number-images {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .hero-container__number-images {
    position: absolute;
    right: 0px;
    top: 4px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-container__number-images {
    top: 66px;
    right: 51px;
  }
}
@media screen and (max-width: calc(768px - 1px)) {
  .hero-container__lady-picture {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .hero-container__lady-picture {
    position: absolute;
    right: 0px;
    bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-container__lady-picture {
    width: 293px;
    height: 232px;
  }
}
.hero-container__description {
  position: absolute;
  left: 0px;
  bottom: 28px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: calc(768px - 1px)) {
  .hero-container__description {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .hero-container__description {
    left: 31px;
    bottom: 45px;
  }
}
.hero-container__description-picture {
  width: 124px;
  height: 126px;
}
@media screen and (min-width: 1200px) {
  .hero-container__description-picture {
    width: 188px;
    height: 191px;
  }
}
.hero-container__description-text {
  font-size: 7px;
  line-height: 1.5;
  color: #fff;
  max-width: 114px;
  margin-left: -2px;
  margin-top: 36px;
  text-align: left;
}
@media screen and (min-width: 1200px) {
  .hero-container__description-text {
    font-size: 14px;
    line-height: 1.4;
    margin-left: 30px;
    max-width: 200px;
    margin-top: 54px;
  }
}
.hero-container__description-svg {
  width: 18px;
  height: 18px;
  margin-top: 7px;
  background-image: url("../images/hero-svg/arrow-right.svg");
}
@media screen and (min-width: 1200px) {
  .hero-container__description-svg {
    width: 26px;
    height: 26px;
    background-size: cover;
    margin-top: 20px;
  }
}

.number-image__element_1 {
  margin-bottom: 13px;
  margin-left: 8px;
}
@media screen and (min-width: 1200px) {
  .number-image__element_1 {
    margin-bottom: 15px;
    margin-left: 20px;
    width: 72px;
    height: 77px;
  }
}

@media screen and (min-width: 1200px) {
  .number-image__element_2 {
    width: 92px;
    height: 76px;
  }
}

@media screen and (max-width: calc(1200px - 1px)) {
  .menu-container {
    display: block;
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(225, 121, 146, 0.6);
    transform: translateX(-100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 1000000;
  }
  .menu-button.is-open ~ .menu-container {
    transform: translateX(0);
  }
  .menu-container__animation {
    width: 250px;
    height: 100vh;
    background-color: #E17992;
    z-index: 10;
    transition: opacity 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
  }
}
.menu-container__pages {
  margin-top: 32px;
  text-align: left;
}
@media screen and (min-width: 1200px) {
  .menu-container__pages {
    display: flex;
    margin: 0;
    z-index: 5;
    align-items: center;
  }
}
.menu-container__element {
  border: 1px solid #E18298;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 21px;
}
@media screen and (min-width: 1200px) {
  .menu-container__element {
    border: none;
    padding: 0;
    z-index: 100;
  }
  .menu-container__element:not(:last-child) {
    margin-right: 35px;
  }
}
.menu-container__link {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.menu-container__link:hover, .menu-container__link:focus {
  color: #D41443;
}
.menu-button ~ .menu-container .menu-container__animation {
  opacity: 0;
}
@media screen and (min-width: 1200px) {
  .menu-button ~ .menu-container .menu-container__animation {
    opacity: 1;
    display: flex;
    flex-direction: row-reverse;
  }
}
.menu-button.is-open ~ .menu-container .menu-container__animation {
  opacity: 1;
}

.menu-button.is-open {
  position: absolute;
  top: 20px;
  right: 20px;
}/*# sourceMappingURL=main.css.map */