<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ice-Cream</title>
    <!--Style connection-->
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"
    integrity="sha512-ISS7cAi1PEhQ8jnbJpJZMd29NlhNj4AWYyLOSp2CE/CsHxTCu+r+t0D2yoJudVrd0/8fTVPUVDzY5Tvli75u/g=="
    crossorigin="anonymous"
  />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Titan+One&display=swap" 
    rel="stylesheet">

    <link rel="stylesheet" href="./css/main.min.css" type="text/css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
</head>
<body>
    <header class="page-header">
        <div class="page-header__container">
            <nav class="site-nav">
                <a href="./team-project.html" class="page-header__logo">
                    <img 
                    srcset="./images/logo/logo.png  200w,
                    ./images/logo/logo2x.png  400w,
                    "
                    src="./images/logo/logo.png"                    
                    alt="company-logo"
                    width="200px"
                    height="50px"
                    sizes="100vw" />
                </a>
                <button
                    type="button"
                    class="menu-button"
                    aria-expanded="false"
                    aria-controls="menu-container"
                    data-menu-button
                >
                    <svg
                    width="20"
                    height="20"
                    aria-label="mobile-menu switcher"
                    >
                    <use class="icon-cross" href="./images//menu/symbol-defs.svg#icon-close"></use>
                    <use class="icon-menu" href="./images/menu/symbol-defs.svg#icon-burger"></use>
                    </svg>
                </button>
                <div class="menu-container">
                    <div class="menu-container__animation">
                        <button type="submit" class="menu-container__button">
                            Buy now
                            <svg width="5.2px" height="8px" class="menu-container__button--accessory">
                                <use href="./images/menu/symbol-defs.svg#icon-vector"></use>
                            </svg>
                        </button>
                        <ul class="menu-container__pages">
                            <li class="menu-container__element"><a href="team-project.html" class="menu-container__link">Home</a></li>
                            <li class="menu-container__element"><a href="#" class="menu-container__link">About us</a></li>
                            <li class="menu-container__element"><a href="#How it's made" class="menu-container__link">How it's made?</a></li>
                            <li class="menu-container__element"><a href="#Our products" class="menu-container__link">Our products</a></li>
                            <li class="menu-container__element"><a href="#Contact" class="menu-container__link">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <button type="submit" class="menu-container__button tablet-desktop">
                    Buy now
                    <svg width="5.2px" height="8px" class="menu-container__button--accessory">
                        <use href="./images/menu/symbol-defs.svg#icon-vector"></use>
                    </svg>
                </button>
            </nav>
        </div>
        <div class="hero-container">
            <div class="hero-container__naming">  
                <h1 class="hero-container__title">ice cream made with <span class="hero-container__title--accent">passion</span></h1>
                <a href="Products" class="hero-container__button">Products</a>
                <a href="How it's made" class="hero-container__button">How it's made?</a>
            </div>
            <span class="hero-container__bg"></span>
            <span class="hero-container__svg"></span>
            <div class="hero-container__number-images">
                <img 
                srcset="./images/ice-cream/ice-cream-cafe.png  43w,
                ./images/ice-cream/ice-cream-cafe2x.png  86w,
                "
                width="43"
                height="44"
                alt="cafe-number"                
                sizes="100vw"
                src="./images/ice-cream/ice-cream-cafe.png" class="number-image__element_1">

                <img                 
                srcset="./images/ice-cream/ice-cream-truck.png  53w,
                ./images/ice-cream/ice-cream-truck2x.png  106w,
                "
                width="53"
                height="43"
                alt="trucks-number"                
                sizes="100vw"
                src="./images/ice-cream/ice-cream-truck.png" class="number-image__element_2">
            </div>
            <img
            srcset="./images/ice-cream/ice-cream-lady.png  168w,
            ./images/ice-cream/ice-cream-lady2x.png  336w,
            " 
            width="168"
            height="133"
            alt="lady with ice-cream"                
            sizes="100vw"
            src="images/ice-cream/ice-cream-lady.png" width="168" height="133" class="hero-container__lady-picture">
            <div class="hero-container__description">
                <img 
                srcset="./images/ice-cream/ice-cream-milk.png  124w,
                ./images/ice-cream/ice-cream-milkX2.png  248w,
                " 
                width="124"
                height="126"
                alt="milk in caraffe"                
                sizes="100vw" 
                src="images/ice-cream/ice-cream-milk.png" class="hero-container__description-picture">
                <div class="hero-container__description-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                    <svg class="hero-container__description-svg">
                        <use href="./images/menu/symbol-defs.svg#arrow-right"></use>
                    </svg>
                </div>
            </div>
        </div>
    </header>
    <script src="./js/mobile-menu.js"></script>
</body>
