<section class="how-its-made" id="how-its-made-main">
    <div class="container display-block">
        <p class="how-its-made__title-first">Tradition and love</p>
        <h2 class="how-its-made__title-second" id="how-its-made">How it’s made?</h2>
        <div class="how-its-made__how">
            <div class="how-its-made__title-image">
            <picture>
                <source srcset="/images/how-its-made/desktop/cow_and_milk.png 1x,/images/how-its-made/desktop/cow_and_milk@2x.png 2x" media="(max-width: 767px)">
                <source srcset="/images/how-its-made/desktop/cow_and_milk.png 1x,/images/how-its-made/desktop/cow_and_milk@2x.png 2x" media="(max-width: 768px)">
                <source srcset="/images/how-its-made/desktop/cow_and_milk.png 1x,/images/how-its-made/desktop/cow_and_milk@2x.png 2x" media="(max-width: 1200px)">
                <img class="main-image" src="/images/how-its-made/desktop/cow_and_milk.png" alt="cow and milk">
            </picture>
        </div> 
        <div class="how-its-made__milk">
        <p class="how-its-made__text-first">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem
            eget, egestas eros.
            Maecenas eleifend erat at justo fringilla.</p>
        <p class="how-its-made__text-second">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
            imperdiet placerat.
            Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
        <p class="how-its-made__text-second pic">Aliquam erat volutpat. Aenean accumsan.</p>
            <button class="how-its-made__btn" type="button">Read more</button>
    </div>
        </div>
        <div class="how-its-made__card-set">
        <div class="how-its-made__cards">
            <ul>
        <li class="how-its-made__item-pic"><img class="image-icon1" src="/images/how-its-made/desktop/icon1.png" srcset="/images/how-its-made/desktop/icon1@2x.png 2x" alt="glass with milk" width="33px" height="50px">
            <p class="how-its-made__number">721</p>
            <p class="how-its-made__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p></li>
        </ul>
    </div>
        <div class="how-its-made__cards">
            <ul>
        <li class="how-its-made__item-pic"><img class="image-icon2" src="/images/how-its-made/desktop/icon2.png" srcset="/images/how-its-made/desktop/icon2@2x.png 2x" alt="apples" width="50px" height="50px">
            <p class="how-its-made__number">16kg</p>
            <p class="how-its-made__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p></li>
        </ul>
        </div>
        <div class="how-its-made__cards">
            <ul>
        <li class="how-its-made__item-pic"><img class="image-icon3" src="/images/how-its-made/desktop/icon3.png" srcset="/images/how-its-made/desktop/icon3@2x.png 2x" alt="heart" width="44px" height="50px">
            <p class="how-its-made__number">84</p>
            <p class="how-its-made__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p></li>
            </ul>
        </div>
    </div>
    
    </div>
    <div class="how-its-made__gallery"></div>
</section>