<div class="placement">
    <div class="container">
        <ul class="placement__list">
            <li class="placement__item">
                <div class="placement__place">
                    <p class="placement__cafe">CAFE</p>
                    <p class="placement__city">Chicago</p>
                    <p class="placement__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="placement__schedule">
                    <p class="placement__days">Monday - Friday</p>
                    <p class="placement__hours">06:00 AM - 10:00 PM</p>
                    <p class="placement__days">Saturday - Sunday</p>
                    <p class="placement__hours">08:00 AM - 16:00 PM</p>
                </div>
                <div class="placement__contacts">
                    <ul class="placement__phone-mail">
                        <li class="placement__phone"><a class="placement__link" href="tel:+610383766284">+61(0) 383 766 284</a></li>
                        <li class="placement__mail"><a class="placement__link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                    </ul>
                </div>
            </li>
            <li class="placement__item">
                <div class="placement__place">
                    <p class="placement__foodtruck">FOODTRUCK</p>
                    <p class="placement__city">Los Angeles</p>
                    <p class="placement__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="placement__schedule">
                    <p class="placement__days">Monday - Friday</p>
                    <p class="placement__hours">06:00 AM - 10:00 PM</p>
                    <p class="placement__days">Saturday - Sunday</p>
                    <p class="placement__hours">08:00 AM - 16:00 PM</p>
                </div>
                <div class="placement__contacts">
                    <ul class="placement__phone-mail">
                        <li class="placement__phone"><a class="placement__link" href="tel:+610383766284">+61(0) 383 766 284</a></li>
                        <li class="placement__mail"><a class="placement__link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                    </ul>
                </div>
            </li>
            <li class="placement__item">
                <div class="placement__place">
                    <p class="placement__cafe">CAFE</p>
                    <p class="placement__city">New York</p>
                    <p class="placement__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="placement__schedule">
                    <p class="placement__days">Monday - Friday</p>
                    <p class="placement__hours">06:00 AM - 10:00 PM</p>
                    <p class="placement__days">Saturday - Sunday</p>
                    <p class="placement__hours">08:00 AM - 16:00 PM</p>
                </div>
                <div class="placement__contacts">
                    <ul class="placement__phone-mail">
                        <li class="placement__phone"><a class="placement__link" href="tel:+610383766284">+61(0) 383 766 284</a></li>
                        <li class="placement__mail"><a class="placement__link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <ul class="placement__button-list">
            <li class="placement__button-item"><button class="placement__button-locations" type="button">Our Locations<svg class="icon-arrow" width="8" height="16" stroke="#fff"><use href="./images/sprite/icons.svg#icon-arrow"></use></svg></button></li>
            <li class="placement__button-item"><button class="placement__button-franchise" type="button">Franchise<svg class="icon-arrow" width="8" height="16" stroke="#D41443"><use href="./images/sprite/icons.svg#icon-arrow"></use></svg></button></button></li>
        </ul>
    </div>
</div>
