
        <!--Products-->
        <section class=" section " id="products">
            <div class="container container-products">
                <p class="label label--margin">100% natural</p>
                <h2 class="products-tittle products--margin">PRODUCTS</h2>
                <ul class="products-list list">
                    <li class="products-list__item products-list__item--margin products-list__item--ice-cream ">
                        <!-- <picture >
                                        <source srcset="./images/desktop/ice-cream.png 1x, ./images/desktop/ice-cream@2x.png 2x" media="(min-width: 1200px)"
                                            type="image/webp">
                                        <source srcset="./images/tablet/ice-cream.png 1x, ./images/tablet/ice-cream@2x.png 2x" media="(min-width: 768px)"
                                            type="image/webp">
                                        <img class="products-list__img" src="./images/mobile/ice-cream.png"
                                            srcset="./images/mobile/ice-cream.png 1x, ./images/mobile/ice-cream@2x.png 2x" alt="Photo: John Doe"
                                            media="(min-width: 320px) 450px, 100vw">
                                    </picture> -->
                        <h3 class="products-list__tittle products-list__tittle--margin">
                            ice cream
                        </h3>
                        <!-- <div class="ellipse ellipse--margin">
                                        <ul class="ellipse-list list circle--margin">
                                            <li class="ellipse-list__item"></li>
                                            <li class="ellipse-list__item"></li>
                                            <li class="ellipse-list__item"></li>
                                        </ul>
                                    </div> -->
        
                        <p class="products-list__describe products-list__describe--margin">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et. dolore magna
                            aliqua facilisis.
                        </p>
                        <div class="arrow" describe-open>
                            <a class="products-navigation" href="#">
                                <source srcset="./images/arrow-right.png 1x, ./images/arrow-right@2x.png 2x"
                                    media="(min-width: 320px)" type="image/webp">
                                <img class="x" src="./images/arrow-right.png"
                                    srcset="./images/arrow-right.png 1x, ./images/arrow-right@2x.png 2x" alt="Photo: arrow"
                                    media="(min-width: 320px) 450px, 100vw">
                                </picture>
                            </a>
                        </div>
                    </li>
        
                    <li class="products-list__item products-list__item--margin products-list__item--coffee">
                        <!-- <picture>
                                        <source srcset="./images/desktop/coffee.png 1x, ./images/desktop/coffee@2x.png 2x"
                                            media="(min-width: 1200px)" type="image/webp">
                                        <source srcset="./images/tablet/coffee.png 1x, ./images/tablet/coffee@2x.png 2x"
                                            media="(min-width: 768px)" type="image/webp">
                                        <img class="products-list__img" src="./images/mobile/ice-cream.png"
                                            srcset="./images/mobile/coffee.png 1x, ./images/mobile/coffee@2x.png 2x" alt="Photo: John Doe"
                                            media="(min-width: 320px) 450px, 100vw">
                                    </picture> -->
                        <h3 class="products-list__tittle products-list__tittle--margin">
                            ice coffee
                        </h3>
                        <!-- <div class="ellipse ellipse--margin">
                                        <ul class="ellipse-list list circle--margin">
                                            <li class="ellipse-list__item"></li>
                                            <li class="ellipse-list__item"></li>
                                            <li class="ellipse-list__item"></li>
                                        </ul>
                                    </div> -->
        
                        <p class="products-list__describe products-list__describe--margin">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et. dolore
                            magna
                            aliqua facilisis.
                        </p>
                        <div class="arrow" describe-open>
                            <a class="products-navigation" href="#">
                                <source srcset="./images/arrow-right.png 1x, ./images/arrow-right@2x.png 2x"
                                    media="(min-width: 320px)" type="image/webp">
                                <img class="x" src="./images/arrow-right.png"
                                    srcset="./images/arrow-right.png 1x, ./images/arrow-right@2x.png 2x" alt="Photo: arrow"
                                    media="(min-width: 320px) 450px, 100vw">
                                </picture>
                            </a>
                        </div>
                    </li>
        
                    <li class="products-list__item  products-list__item--milkshakes">
                        <!-- <picture>
                                        <source srcset="./images/desktop/milkshakes.png 1x, ./images/desktop/milkshakes@2x.png 2x"
                                            media="(min-width: 1200px)" type="image/webp">
                                        <source srcset="./images/tablet/milkshakes.png 1x, ./images/tablet/milkshakes@2x.png 2x"
                                            media="(min-width: 768px)" type="image/webp">
                                        <img class="products-list__img" src="./images/mobile/ice-cream.png"
                                            srcset="./images/mobile/milkshakes.png 1x, ./images/mobile/milkshakes@2x.png 2x" alt="Photo: John Doe"
                                            media="(min-width: 320px) 450px, 100vw">
                                    </picture> -->
                        <h3 class="products-list__tittle products-list__tittle--margin">
                            milkshakes
                        </h3>
                        <!-- <div class="ellipse ellipse--margin">
                                        <ul class="ellipse-list list circle--margin">
                                            <li class="ellipse-list__item"></li>
                                            <li class="ellipse-list__item"></li>
                                            <li class="ellipse-list__item"></li>
                                        </ul>
                                    </div> -->
        
                        <p class="products-list__describe products-list__describe--margin">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et. dolore
                            magna
                            aliqua facilisis.
                        </p>
                        <div class="arrow" describe-open>
                            <a class="products-navigation" href="#">
                                <source srcset="./images/arrow-right.png 1x, ./images/arrow-right@2x.png 2x"
                                    media="(min-width: 320px)" type="image/webp">
                                <img class="x" src="./images/arrow-right.png"
                                    srcset="./images/arrow-right.png 1x, ./images/arrow-right@2x.png 2x" alt="Photo: arrow"
                                    media="(min-width: 320px) 450px, 100vw">
                                </picture>
                            </a>
                        </div>
                    </li>
                </ul>
        
            </div>
        
        
        </section>
        
        
        <div class="backdrop is-hidden" describe>
            <div class="describe">
                <button type="button" class="close-btn" describe-close>
                    <svg class="close-icon" width="11" height="11">
                        <use href="./images/modal/close.svg#icon-Vector">
                        </use>
                    </svg>
                </button>
                <p>Describe</p>
            </div>
        </div>
        <script src="../describe.js"></script>
     
