
        <!--Products-->
        <section class=" section " id="products">
            <div class="container display-block">
                <p class="label label--margin">100% natural</p>
                <h2 class="products-tittle products--margin">PRODUCTS</h2>
                <ul class="products-list list">
                    <li class="products-list__item products-list__item--margin products-list__item--ice-cream ">
                        
                        <h3 class="products-list__tittle products-list__tittle--margin">
                            ice cream
                        </h3>
                        
                        <p class="products-list__describe products-list__describe--margin">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et. dolore magna
                            aliqua facilisis.
                        </p>
                        <div class="arrow" describe-open>
                            <a class="products-navigation" href="#">
                                <source srcset="./images/products/arrow-right.png 1x, ./images/products/arrow-right@2x.png 2x"
                                    media="(min-width: 320px)" type="image/webp">
                                <img class="x" src="./images/products/arrow-right.png"
                                    srcset="./images/products/arrow-right.png 1x, ./images/products/arrow-right@2x.png 2x" alt="Photo: arrow"
                                    media="(min-width: 320px) 450px, 100vw">
                                </picture>
                            </a>
                        </div>
                    </li>
        
                    <li class="products-list__item products-list__item--margin products-list__item--coffee">
                        
                        <h3 class="products-list__tittle products-list__tittle--margin">
                            ice coffee
                        </h3>
                        
        
                        <p class="products-list__describe products-list__describe--margin">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et. dolore
                            magna
                            aliqua facilisis.
                        </p>
                        <div class="arrow" describe-open>
                            <a class="products-navigation" href="#">
                                <source srcset="./images/products/arrow-right.png 1x, ./images/products/arrow-right@2x.png 2x"
                                    media="(min-width: 320px)" type="image/webp">
                                <img class="x" src="./images/products/arrow-right.png"
                                    srcset="./images/products/arrow-right.png 1x, ./images/products/arrow-right@2x.png 2x" alt="Photo: arrow"
                                    media="(min-width: 320px) 450px, 100vw">
                                </picture>
                            </a>
                        </div>
                    </li>
        
                    <li class="products-list__item  products-list__item--milkshakes">
                      
                        <h3 class="products-list__tittle products-list__tittle--margin">
                            milkshakes
                        </h3>
                        
        
                        <p class="products-list__describe products-list__describe--margin">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et. dolore
                            magna
                            aliqua facilisis.
                        </p>
                        <div class="arrow" describe-open>
                            <a class="products-navigation" href="#">
                                <source srcset="./images/products/arrow-right.png 1x, ./images/products/arrow-right@2x.png 2x"
                                    media="(min-width: 320px)" type="image/webp">
                                <img class="x" src="./images/products/arrow-right.png"
                                    srcset="./images/products/arrow-right.png 1x, ./images/products/arrow-right@2x.png 2x" alt="Photo: arrow"
                                    media="(min-width: 320px) 450px, 100vw">
                                </picture>
                            </a>
                        </div>
                    </li>
                </ul>
        
            </div>
        
        
        </section>
        
        
        <div class="backdrop is-hidden" describe>
            <div class="describe">
                <button type="button" class="close-btn" describe-close>
                    <svg class="close-icon" width="11" height="11">
                        <use href="./images/products/modal/close.svg#icon-Vector">
                        </use>
                    </svg>
                </button>
                <p>Describe</p>
            </div>
        </div>
        <script src="../describe.js"></script>
     
