.comments{
    margin-bottom: 170px;
    &__view {
        display: flex;
        overflow: hidden;
        width: 280px;
    }
    &__card-home,
    &__card-second,
    &__card-third {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__image {
        margin-bottom: 29px;
    }
    &__sheet{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        min-width: 280px;
        padding-bottom: 20px;
        padding-top: 43px;
        margin-bottom: 30px;
        background-color: #FAFAFA;
        z-index: -2;
    }
    &__sheet-icon {
        position: absolute;
        left: 61px;
        top: 28px;
        fill: #E1E1E1;
        z-index: -1;
    }
    &__line {
        width: 180px;
        height: 0px;
        border: 1px solid #E1E1E1;
        margin-top: 28px;
    }
    &__content {
        display: block;
        line-height: 255%;
        color: #000000;
        width: 157px;
        height: 239px;
        text-align: center;
        position: absolute;
        margin: 0;
    }
    &__author {
        font-size: 14px;
        line-height: 186%;
        margin-bottom: 30px;
        margin-top: 18px;
    }
    &__dots-list {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-left: -10px;
    }
    &__dot {
        width: 4px;
        height: 4px;
        margin-left: 10px;
        border-radius: 50%;
        background-color: #C7133E;
    }
    &__navigation {
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 0;
        margin-right: -18px;
        padding: 0;
    }
    &__post-item {
        display: block;
        margin-right: 18px;
    }
    &__post-link {
        display: inline-block;
        transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
        
        
        &--bg-styles {
            background-color: #D9D9D9;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            
            &:hover {
                background-color: #D31342;
                fill:#D31342;
            }
        }
        &--bg-red {
            background-color: #D31342;
        }
    }
    &__navigation-icon {
        fill: #D31342;
        &--bg-styles {
            fill: #D9D9D9;
            transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
            &:hover {
                fill:#D31342;
            }
        }
    }
}
@media screen and (min-width:768px) {
    .comments{
        margin-bottom: 197px;
        &__view {
            width: 620px;
        }
        &__image {
            margin-bottom: 19px;
        }
        &__sheet{
            min-width: 620px;
            padding-top: 47px;
            padding-bottom: 34px;
            margin-bottom: 24px;
        }
        &__sheet-icon {
            left: 40px;
            top: 30px;
        }
        &__line {
            width: 524px;
        }
        &__content {
            font-size: 14px;
            line-height: 216%;
            letter-spacing: 0.04em;
            width: 460px;
            height: 83px;
        }
        &__author {
            font-size: 16px;
            margin-bottom: 35px;
            margin-top: 14px;
        }
    }
}
@media screen and (min-width: 1200px) {
    .comments{
        &__view {
            width: 926px;
        }
        &__image {
            margin-bottom: 15px;
        }
        &__sheet{
            min-width: 926px;
            padding-bottom: 39px;
            margin-bottom: 15px;
        }
        &__sheet-icon {
            left: 50px;
            top: 32px;
        }
        &__line {
            width: 813px;
        }
        &__content {
            font-size: 16px;
            line-height: 186%;
            width: 750px;
            height: 52px;
        }
        &__author {
            font-size: 20px;
            margin-top: 15px;
        }
    }
}