.page-header {
  width: 100%;
  padding-top: 6px;
  background-color: getColor("primary-bg");
  overflow-x: clip;

  // z-index: 100000000;

  @media screen and (min-width: $tablet) {
      padding-top: 36px;
  }

  @media screen and (min-width: $desktop) {
      height: 665px;
  }

  &__container {
    @extend %container;
    z-index: 10000000;
  }

  &__logo {
      @media screen and (min-width: $desktop) {
          margin-right: 110px;
      }

      &-image {
        width: 200px;
        height: 50px;
      }
  }
}

.site-nav {
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  @media screen and (min-width: $desktop) {
      display: flex;
      align-items: center;
  }
}