.label {
  font-size: 18px;
  line-height: inherit;
  text-align: center;
  text-transform: uppercase;
  color: getColor('pink-font');
  margin-bottom: 15px;
  font-family: getFont('title');
  font-weight: 400;

  @media screen and (min-width: $tablet) {
    font-size: 26px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 30px;
  }
}

.products {
  display: block;
  padding-bottom: 98px;
  padding-top: 121px;

  @media screen and (min-width: $tablet) {
    padding-top: 122px;
    padding-bottom: 112px;
  }

  &__title {
    font-size: 34px;
    line-height: 1.147;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: getColor('accent');
    font-family: getFont('title');
    font-weight: 400;
    margin-bottom: 144px;

    @media screen and (min-width: $tablet) {
      font-size: 48px;
      margin-bottom: 150px;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: 259px;
      font-size: 58px;
      letter-spacing: 0.06em;
    }
  }

  &__list {
    justify-content: center;
    // flex-wrap: nowrap;
    align-items: center;

    @media screen and (min-width: $tablet) {
      display: flex;
    }

    &-item {
      position: relative;
      border-radius: 24px;
      justify-content: center;
      width: 280px;
      height: 485px;
      padding-top: 141px;

      @media screen and (min-width: $tablet) {
        width: 220px;
        padding-top: 110px;
      }

      @media screen and (min-width: $desktop) {
        width: 330px;
        height: 525px;
        padding-top: 120px;
      }

      &:not(:last-child) {
        margin-bottom: 130px;

        @media screen and (min-width: $tablet) {
          margin-bottom: 0px;
          margin-right: 20px;
        }

        @media screen and (min-width: $desktop) {
          margin-right: 30px;
        }
      }

      &--ice-cream {
        background-color: getColor('primary-bg');
      }

      &--coffee {
        background-color: #f0d1a5;
      }

      &--milkshakes {
        background-color: #c2e297;
      }
    }

    &-img {
      position: absolute;
      top: -140px;

      @media screen and (min-width: $tablet) {
        top: -130px;
      }

      @media screen and (min-width: $desktop) {
        top: -215px;
      }
    }

    &-title {
      font-size: 20px;
      line-height: 1.15;
      text-align: center;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      color: getColor('main');
      font-family: getFont('title');
      margin-top: 22px;

      @media screen and (min-width: $desktop) {
        font-size: 30px;
      }
    }

    &-describe {
      font-size: 14px;
      text-align: center;
      letter-spacing: 0.04em;
      color: getColor('main');
      width: 200px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
      line-height: 1.52;
      width: 200px;

      @media screen and (min-width: $tablet) {
        margin-bottom: 40px;
        line-height: 1.76;
      }

      @media screen and (min-width: $desktop) {
        font-size: 16px;
        margin-bottom: 62px;
        width: 250px;
      }
    }

    &-link {
      display: flex;
      margin-left: auto;
      margin-right: auto;
      width: 40px;
      height: 40px;
      background-image: url('../images/hero-svg/arrow-right.svg');
      background-size: cover;
      border: none;
      background-color: none;
      border-radius: 50%;
    }
  }
}

.ellipse {
  margin-top: 30px;
  margin-bottom: 30px;

  &__list {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;

    &-item {
      width: 6px;
      height: 6px;
      background-color: #fff;
      border-radius: 50%;

      &:not(:last-child) {
        margin-right: 4px;
      }
    }
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.16);
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: 1000ms cubic-bezier(0.4, 0, 0.2, 1);

  z-index: 100000000;

  &__description {
    font-family: getFont('title');
    font-size: 30px;
    line-height: 2;
    letter-spacing: 0.06em;
    font-weight: 700;
    color: getColor('accent');
    margin-top: 30%;

    @media screen and (min-width: $desktop) {
      margin-top: 10%;
    }
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal.is-hidden {
  transition: all 500ms linear 500ms;
}

.describe {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 50%;
  padding: 15px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;

  &--ice-cream {
    background-color: getColor('primary-bg');
  }

  &--coffee {
    background-color: #f0d1a5;
  }

  &--milkshakes {
    background-color: #c2e297;
  }
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;

  display: block;
  width: 18px;
  height: 18px;
  border: 0px;
  background-color: transparent;
  cursor: pointer;
  fill: getColor('accent');

  @include transform(fill);

  @media screen and (min-width: $tablet) {
    top: 30px;
    right: 30px;
  }

  @media screen and (min-width: $desktop) {
    top: 40px;
    right: 40px;
  }

  &:hover,
  &:focus {
    fill: getColor('main');
  }
}
